<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Footer</title>
        <h:outputStylesheet library="css" name="style.css"  />
        <meta name="viewport" content="width=device-width"/>
    </h:head>
    <h:body>
        
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
                FB.init({appId: '468815383233184', status: true, cookie: true,
                    xfbml: true});
            };
            (function() {
                var e = document.createElement('script');
                e.async = true;
                e.src = document.location.protocol +
                        '//connect.facebook.net/en_US/all.js';
                document.getElementById('fb-root').appendChild(e);
            }());
        
            $(document).ready(function() {
                $('#share_button').click(function(e) {
                    e.preventDefault();
                    FB.ui(
                            {
                                method: 'feed',
                                name: 'CREATIVE DESIGN',
                                link: ' http://localhost:8080/ProyectoWeb-war/inicio.xhtml',
                                picture: 'http://www.riegosdeltietar.es/imagenes/obra1/balon3.png',
                                caption: 'DISEÑA TU PROPIO JUEGO',
                                description: '* Elige entre nuestros dos juegos <center></center>\n\
                                              * Selecciona el número de fases<center></center>\n\
                                              * Sube tus propias imágenes<center></center>\n\
                                              * Hazlo tan difícil como quieras<center></center>\n\
                                              * Compártelo con tus amigos',
                                message: ''
                            });
                });
            });
        </script>
        
        <!-- Footer -->
          <div id="footer">
            <p class="left"> <a href="inicio.xhtml">Inicio</a><span>|</span> <a href="perfil.xhtml">Mi cuenta</a></p>
             &nbsp;
            <!-- BOTÓN FACEBOOK -->
            <img src = "images/facebook.png" id = "share_button"></img>
            
            <p class="right"> &copy;Design by Creative Design </p>
          </div>
          <!-- End Footer -->
    </h:body>
</html>

