<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Header</title>
        <h:outputStylesheet library="css" name="style.css"  />
        <meta name="viewport" content="width=device-width"/>
    </h:head>
    <h:body>
       <!--Header--> 
       <div id="header">
            <h1 id="logo"><a href="inicio.xhtml">shoparound</a></h1>
            <!-- Navigation -->
            <div id="navigation">
                <h:form>
              <ul>
                  <li><h:outputLink value="inicio.xhtml">Inicio</h:outputLink></li>
                  <li><h:commandLink action="#{juegoBean.cargarJuegoObjetos()}">Juego Objetos</h:commandLink></li>
                  <li><h:commandLink action="#{juegosFinalizadosBean.cargarJuegosFinalizados()}">Juegos de otros usuarios</h:commandLink></li>
                  <li><h:outputLink id="link2" value="#{loginBean.perfil()}">
                          <h:outputText value="Registrate" rendered="#{loginBean.logeado==false}"  />
                          <h:outputText value="perfil" rendered="#{loginBean.logeado}"  />
                      </h:outputLink>
                  </li>

                  <li><h:commandLink rendered="#{loginBean.logeado}" action="#{loginBean.logout}" >Logout</h:commandLink>   
                  </li>
              </ul>
                </h:form>
            </div>
            <!-- End Navigation -->
          </div>
          <!-- End Header -->
           <p:messages id="msgs" /> 
    </h:body>
</html>

