* { padding:0; margin:0; outline:0; }
body {
    background:#fff url(../images/body.gif) repeat-x 0 0;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size:12px;
    line-height:16px;
    color:#636363;
}
input, textarea, select { font-family: "Trebuchet MS", Arial, sans-serif; font-size:12px; }

.field { background:#ebebeb; border:solid 1px #dedede; padding:2px;}

a img { border:0; }

a { color:#8b0000; text-decoration: underline; cursor:pointer; }
a:hover { color:#666; text-decoration: none; }

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }

h2 { font-size:14px; line-height:16px; }
h3 { font-size:12px; line-height:14px; text-transform: uppercase; color:#000; }
h4 { font-size:12px; line-height:14px; text-transform: uppercase; color:#000; }


h1#logo { font-size:0; line-height:0; width:156px; height:64px; float:left; }
h1#logo a{ display:block; height:64px; text-indent: -4000px; background:url(../images/logo.gif); }

.shell { width:960px; margin:0 auto; padding:10px; background:#fff; }

#header { height:64px; background:url(../images/header.gif); position:relative;}

#navigation { float:right; white-space:nowrap; }
#navigation ul{ list-style-type: none; height:64px; font-weight: bold; float:left;}
#navigation ul li{ float:left; display:inline; }
#navigation ul li a{ float:left; height:64px; line-height:64px; text-decoration: none; color:#fff; padding:0 15px;}
#navigation ul li a.active,
#navigation ul li a:hover{ background:#fff; color:#8b0000; }

#sidebar { float:left; width:226px;}
#content { float:right; width:724px;}

#main { padding:10px 0 0 0; }

.box { padding:1px; border:solid 1px #dedede; margin-bottom:10px;}
.box h2{ background:#7f7f7f; color:#fff; font-weight: normal; padding:0 5px; position:relative; height:27px; line-height:27px; }
.box h2 span{ position:absolute; width:10px; height:5px; background:url(../images/h2-arr.gif); top:27px; right:10px; font-size:0; line-height:0;}
.box-content { padding:5px;}

a.bul { background:url(../images/bul.gif) no-repeat 0 center; padding-left:10px;}

.categories { min-height:383px; }
.categories ul { list-style-type: none; font-size:13px;}
.categories ul li{ border-bottom:dashed 1px #ccc; padding:5px 0;}
.categories ul li.last{ border-bottom:0; padding-bottom:0;}
.categories ul li a{ color:#5f5f5f; text-decoration: none; background:url(../images/cat.gif) no-repeat 0 4px; padding-left:17px;}
.categories ul li a:hover{ color:#8b0000; }
.log {
    position: relative;
    margin: -123px auto;
    padding:  37px 51px 91px;
    width: 620px;
    background: white;
    border-radius: 3px;

}
.log:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

p.padding2 {padding-left:50%;}

.login {
    position: relative;
    margin: 0 auto;
    padding: 57px 203px 215px;
    width: 310px;
    background: white;
    border-radius: 3px;

}
.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.login input[type=text], .login input[type=password] {
    width: 278px;
}
#fotosFases{
    margin-left: 30px;

}

.textoFase{
    margin-bottom: 10px;
}

.texto
{
    margin-left: 110px;
}
.dificultad
{
    margin-left: 52px;
}

.products {}
.products ul{ list-style-type: none;}
.products ul li{ position:relative; padding:1px; border:solid 1px #dedede; float:left; width:231px; margin-right:9px; height:383px; overflow:hidden; }
.products ul li.last{ margin-right:0; }

.product-info{ position:absolute; width:153px; top:194px; left:0;}
.product-info h3{ background:#8b0000; color:#fff; padding:6px 10px; }
.product-info h4{ font-weight: normal;}
.product-info p{ font-size:16px; line-height:18px; text-transform: uppercase; font-weight: bold; color:#000; padding:5px 0 7px 0;}
.product-info .product-desc{ padding:10px; background:url(../images/info.png); width:133px; }

.price { display:block; font-size:21px; color:#8b0000; line-height:23px; }

.more-products { border:solid 1px #dedede; position:relative; height:114px; overflow:hidden; }
.more-products ul{ list-style-type: none; height:94px; position:relative; overflow:hidden; width:805px;}
.more-products ul li{ float:left; width:94px; height:94px; border-right:dashed 1px #ccc; padding:0 10px;}
.more-products ul li.last{ border-right:0; }

.more-products-holder { width:804px; height:94px; position:relative; overflow:hidden; top:10px; left:70px;}
.more-products-holder .jcarousel-clip{ width:804px; height:94px; position:relative; overflow:hidden; }

.more-nav { font-size:0; line-height:0;}
.more-nav a{ position:absolute; top:40px; left:0; width:30px; height:32px; text-indent: -4000px; z-index:3;}
.more-nav a.next{ background:url(../images/next.gif); left:910px;}
.more-nav a.prev{ background:url(../images/prev.gif); left:20px;}

.cols { padding:5px 0;}
.col { display:inline; margin-left: 30px; margin-bottom: 20px;}
.col-last { margin-right:0;}

h3.ico { background-repeat:no-repeat; background-position:0 2px; padding:6px 0 8px 30px;}
h3.ico1 { background-image:url(../images/ico1.gif);}
h3.ico2 { background-image:url(../images/ico2.gif);}
h3.ico3 { background-image:url(../images/ico3.gif);}
h3.ico4 { background-image:url(../images/ico4.gif);}

#footer { height:51px; background:#ebebeb; white-space:nowrap; line-height:50px; padding:0 15px; color:#7b7b7b; margin-top:10px;}
#footer a{ color:#7b7b7b; text-decoration: none;}
#footer a:hover{ color:#000;}
#footer span{ padding:0 2px;}

#principal {
    height: 384px; 
    width: 724px;
    /*background-image: url(images/carta3.png);
    background-size: 100% 100%*/
    border-style:solid;
    border-width: 1px; 
    border-color:black;

}

#principal2 {

    height: 484px; 
    width: 724px;
    /*background-image: url(images/carta3.png);
    background-size: 100% 100%*/
    border-style:solid;
    border-width: 1px; 
    border-color:black;

}

.container {
    /*border: 1px dashed #ccc*/;
    position: relative;
    margin-top: 140px;
}

.drop{
    background: transparent;
    height: 100px;
    position: absolute;
    width: 100px;
    border: 1px dashed #8b0000;
    text-align: center;
    
}

#cuadroFijo
{
    margin-left: 310px;
    margin-top: 20px;
    
}


#contenedorimagenes
{
    width:940px; 
    padding: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 24px;
}

.imagenesbarra{
    width: 80px;
    height: 80px;

}

.imagenCuadro{
    
    width: 100px;
    height: 100px;
    
}

#TituloBarra{
    border: 1px solid #d0d0d0;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    height: 22px;
    background: url(../images/header.gif);
    color: white;
    text-align: center;
    font-size: 16px;
}


.usuario{
    padding-left: 0px;
    margin-left: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 129px;
    height: 14px;  
}

.contrasena{
    margin-left: 5px;
    margin-bottom: 20px;
    width: 129px;
}

.imagen{
    width: 724px; 
    height: 484px;
}

img#share_button {
    cursor: pointer;
    width: 95px;
    height: 20px;
    margin-top: 15px;
    margin-left: 18px;
}
.columna{
    float:left;
    display:inline;
}