<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Juegos finalizados de Usuarios</title>
        <h:outputStylesheet library="css" name="style.css"  />
        <meta name="viewport" content="width=device-width"/>
    </h:head>
    <h:body>
        <!-- Shell -->
        <div class="shell">
            <!-- Header -->
            <ui:include src="HeaderFooter/header.xhtml" />
            <!-- End Header -->
            <!-- Main -->
            <div id="main">
                <!-- Content -->
                <h:dataTable value="#{juegosFinalizadosBean.juegos}" var="j" rowClasses="columna">
                    <h:column>
                        <div id="fotosFases" >
                            <img src="#{j.direccionimagen}" style="float: left;" width="100" height="100" />
                            <div class="texto">
                                <div>
                                    <p class="textoFase"> Nombre: <h:outputText value="#{j.getIdnombre().getNombre()}"/></p></div>
                                <div>
                                <div>
                                    <p> Numero de fases: <h:outputText value="#{j.getFaseList().size()}"/> </p>
                                </div>
                                </div>
                                <div>
                                    <p class="textoFase"> Usuario: <h:outputText value="#{j.getIdusuario().getNombre()}"/> </p>
                                </div>
                            </div>
                        </div>
                    </h:column>
                </h:dataTable>
               
                <!-- End Content -->
                <!-- Sidebar -->

            </div>
            <!-- End Sidebar -->
            <div class="cl"></div>
            <ui:include src="HeaderFooter/footer.xhtml" />
        </div>


        <!-- End Footer -->

    </h:body>
</html>
