<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Crea tu propio juego</title>
        <h:outputStylesheet library="css" name="style.css"  />
        <meta name="viewport" content="width=device-width"/>

        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    </h:head>
    <h:body>
        <!-- Shell -->
        <div class="shell">
            <!-- Header -->
            <ui:include src="HeaderFooter/header.xhtml" />
            <!-- End Header -->
            <!-- Main -->
            <div id="main">          
                <div id="sidebar">
                    <div class="box">
                        <h2>Login<span></span></h2>
                          <div class="box-content">                  
                            <h:form rendered="#{!loginBean.logeado}">
                                <div>
                                    <h:outputLabel for="user" value="Usuario:"/>
                                    <h:inputText class="usuario" id="user" value="#{loginBean.usuario}" validatorMessage="Usuario: Campo obligatorio"/>
                                </div>
                                <div>
                                    <h:outputLabel value="Contrase&ntilde;a:"/>
                                    <h:inputSecret class="contrasena" value="#{loginBean.pwd}" validatorMessage="Contraseña: Campo obligatorio"/> 
                                </div>
                                <h:commandButton value="Entrar"  action="#{loginBean.comprobar()}"/>
                            </h:form> 
                            <h:form rendered="#{loginBean.logeado}">
                                <h:outputLabel value="Hola #{loginBean.usuarioActual.nombre}"/>
                            </h:form>
                        </div>
                    </div>
                </div>
                <div id="content">
                    <!-- Products -->
                    <div class="products">
                        <!--<h:panelGroup id="drop" layout="block" styleClass="ui-widget-content" style="height:387px;width:724px;">
                        </h:panelGroup>-->
                        <!--<p:droppable for="drop" tolerance="fit" />--><!--onDrop="clonarElemento"-->

                        <div id="principal2">
                            <h:form>
                                <h:commandLink action="login.xhtml">
                                    <img class="imagen" src="images/inicio.jpg" alt="Diseña tu propia aplicación" />
                                </h:commandLink>
                            </h:form>
                        </div>
                    </div>
                </div>
                <div class="cl">&nbsp;</div>
        </div>


            <!-- End Side Full -->
            <!-- Footer -->
            <ui:include src="HeaderFooter/footer.xhtml" />
            <!-- End Footer -->
        </div>
        <!-- End Shell -->
        <div></div>
    </h:body>



</html>
