<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Creación del juego de objetos</title>
        <h:outputStylesheet library="css" name="style.css"  />
        <meta name="viewport" content="width=device-width"/>
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="resources/js/jquery.shapeshift.min.js"></script>
        <script src="resources/js/scriptPropio.js"></script>
        <script type="text/javascript" src="resources/js/html2canvas.js"></script> 
       

    </h:head>
    <h:body>
        <!-- Shell -->
        <div class="shell">
            <!-- Header -->
            <ui:include src="HeaderFooter/header.xhtml" />
            <!-- End Header -->
            <!-- Main -->
            <div id="main">
                <div class="cols">
                    <h:form id="formu">
                        <div class="col">
                            <h:outputLabel for="pista" value="Como obtener pistas: "/> 
                            <h:selectOneMenu id="pista" value="#{juegoBean.pista}">
                                <f:selectItem itemLabel="Sacudir el movil" itemValue="1"  />
                                <f:selectItem itemLabel="Bot&oacute;n de pista" itemValue="2" />
                                <f:ajax render="@this" />
                            </h:selectOneMenu>
                        </div>
                        <div class="col">
                            <h:outputLabel for="accionobjeto" value="Como dar vueltas a las cartas "/>
                            <h:selectOneMenu id="accionobjeto" value="#{juegoBean.accionobjeto}">
                                <f:selectItem itemLabel="un toque" itemValue="1"  />
                                <f:selectItem itemLabel="Deslizando el dedo" itemValue="2" />
                                <f:ajax render="@this" />
                            </h:selectOneMenu>
                        </div>
                        <div class="col">
                            <input id="imagenesbtn" type="hidden" name="imagenesbtn" value="" />
                            <input id="fondobtn" type="hidden" name="fondobtn" value="" />                           
                            <input id="imgjuego" type="hidden" name="imgjuego" value="1234" />
                            <h:commandButton id="botonguardar" value="Guardar Juego"  action="#{faseBean.guardar()}">
                                <f:ajax  onevent="cargardatos()"/>
                            </h:commandButton>
                            &nbsp;
                            <h:commandButton id="btncanvas"  value="Exportar Juego" action="#{exportarBean.exportarJuego()}">
                                <f:ajax render="error" execute="@form" onevent="canvas()" />
                                
                            </h:commandButton>
                            <h:outputLabel id="error" value="#{exportarBean.msgError}"></h:outputLabel>
                               </div>
                    </h:form>
                </div>
                <!-- Content -->

                <div id="content">
                    <!-- Products -->
                    <div class="products">
                        <!--<h:panelGroup id="drop" layout="block" styleClass="ui-widget-content" style="height:387px;width:724px;">
                        </h:panelGroup>-->
                        <!--<p:droppable for="drop" tolerance="fit" />--><!--onDrop="clonarElemento"-->
                        <h:form id="p">
                            <div id="principal">

                                <div id="cuadroFijo" class="drop" >
                                    <img class="imagenCuadro" id="#{faseBean.recuadroFijo.idimagenes.idimagen}" 
                                         src="#{faseBean.recuadroFijo.idimagenes.direccion}" 
                                         alt="#{faseBean.recuadroFijo.idimagenes.descripcion}"/>
                                </div>




                                <div id="cont" class="container">

                                    <ui:repeat class="drop"  value="#{faseBean.recuadrosActual}" var="elem" offset="1">
                                        <div class="panel"></div>
                                        <img class="imagenCuadro" id="#{elem.idimagenes.idimagen}" 
                                             src="#{elem.idimagenes.direccion}"
                                             alt="#{elem.idimagenes.descripcion}"/>
                                    </ui:repeat>




                                </div>

                            </div>

                        </h:form>    

                    </div>

                    <!-- End Products -->
                </div>


                <!-- End Content -->
                <!-- Sidebar -->
                <div id="sidebar">
                    <!-- Categories -->
                    <div class="box categories">
                        <h2>Fases<span></span></h2>
                        <div class="box-content">
                            <h:form>
                                <h:outputLabel for="listaNumFases" value="Numero Fases "/>
                                <h:selectOneMenu id="listaNumFases" value="#{faseBean.numFases}"  >
                                    <f:selectItem itemLabel="Seleccione una opci&oacute;n: " noSelectionOption="true" />   
                                    <f:selectItem itemLabel="1" itemValue="1" />
                                    <f:selectItem itemLabel="2" itemValue="2" />
                                    <f:selectItem itemLabel="3" itemValue="3" />
                                    <f:selectItem itemLabel="4" itemValue="4" />
                                    <f:selectItem itemLabel="5" itemValue="5" />
                                    <f:ajax render="numFases tiempo numIntentos numObjetos" listener="#{faseBean.cargarNumFases()}" />
                                </h:selectOneMenu>
                                <ul>
                                    <li>
                                        <input id="imagenes" type="hidden" name="imagenes" value="" />
                                        <input id="fondo" type="hidden" name="fondo" value="" />
                                        <h:selectOneMenu id="numFases" onblur="actualizarScript()" onmousedown="cargardatos()" class="botonguardar" value="#{faseBean.faseSeleccionada}" >
                                            <f:selectItems value="#{faseBean.fases}" var="f" itemValue="#{f.nombre}" itemLabel="#{f.nombre}" />
                                            <f:ajax render=":p tiempo numIntentos numFases numObjetos" listener="#{faseBean.guardarDatosFase()}" />
                                        </h:selectOneMenu>
                                    </li>
                                    <li>
                                        <h:outputLabel for="tiempo" value="Tiempo  " class="opcion" />
                                        <h:selectOneMenu id="tiempo" value="#{faseBean.tiempo}">
                                            <f:selectItem itemLabel="10sg" itemValue="10"  />
                                            <f:selectItem itemLabel="20sg" itemValue="20" />
                                            <f:selectItem itemLabel="30sg" itemValue="30" />
                                            <f:selectItem itemLabel="40sg" itemValue="40" />
                                            <f:selectItem itemLabel="50sg" itemValue="50" />
                                            <f:selectItem itemLabel="60sg" itemValue="60" />
                                            <f:ajax render="@this" />
                                        </h:selectOneMenu>
                                    </li>
                                    <li>
                                        <h:outputLabel for="numIntentos" value="Numero Intentos  " class="opcion" />
                                        <h:selectOneMenu id="numIntentos" value="#{faseBean.numIntentos}" >
                                            <f:selectItem itemLabel="1" itemValue="1" />
                                            <f:selectItem itemLabel="2" itemValue="2" />
                                            <f:selectItem itemLabel="3" itemValue="3" />
                                            <f:selectItem itemLabel="4" itemValue="4" />
                                            <f:selectItem itemLabel="5" itemValue="5" />
                                            <f:selectItem itemLabel="6" itemValue="6" />
                                            <f:selectItem itemLabel="7" itemValue="7" />
                                            <f:selectItem itemLabel="8" itemValue="8" />
                                            <f:selectItem itemLabel="9" itemValue="9" />
                                            <f:selectItem itemLabel="10" itemValue="10" />
                                            <f:selectItem itemLabel="11" itemValue="11" />
                                            <f:selectItem itemLabel="12" itemValue="12" />
                                            <f:ajax render="@this" />
                                        </h:selectOneMenu>
                                    </li>
                                    <li>
                                        <h:outputLabel for="numObjetos" value="Numero de Objetos  " class="opcion" />
                                        <h:selectOneMenu id="numObjetos" value="#{faseBean.numObjetos}" onblur="actualizarScript()">
                                            <f:selectItem itemLabel="3" itemValue="3"  />
                                            <f:selectItem itemLabel="4" itemValue="4" />
                                            <f:selectItem itemLabel="5" itemValue="5" />
                                            <f:selectItem itemLabel="6" itemValue="6" />
                                            <f:selectItem itemLabel="7" itemValue="7" />
                                            <f:selectItem itemLabel="8" itemValue="8" />
                                            <f:selectItem itemLabel="9" itemValue="9" />
                                            <f:selectItem itemLabel="10" itemValue="10" />
                                            <f:selectItem itemLabel="11" itemValue="11" />
                                            <f:selectItem itemLabel="12" itemValue="12" />
                                            <f:ajax render=":p @this" listener="#{faseBean.actualizarObjetos()}" execute="@this"/>
                                        </h:selectOneMenu>
                                    </li>
                                </ul>
                            </h:form>
                        </div>
                        <h2>Categorias <span></span></h2>
                        <div class="box-content">
                            <h:form>
                                <ul>
                                    <li>
                                        <h:commandLink action="#{opcionesBean.cargarImagenes()}" value="Fondos" onmouseout="actualizarScript()"  >
                                            <f:setPropertyActionListener value="Fondo" target="#{opcionesBean.opcionSeleccionada}" />
                                            <f:ajax render=":cargar"/>
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink action="#{opcionesBean.cargarImagenes()}" value="Objetos" onmouseout="actualizarScript()">
                                            <f:setPropertyActionListener value="Objeto" target="#{opcionesBean.opcionSeleccionada}" />
                                            <f:ajax render=":cargar" />
                                        </h:commandLink>
                                    </li>
                                </ul>
                            </h:form>
                        </div>
                    </div>
                    <!-- End Categories -->
                </div>
                <!-- End Sidebar -->
                <div class="cl">&nbsp;</div>

            </div>



            <div id="TituloBarra">Imagenes</div>
            <div id="contenedorimagenes" >
                <h:panelGroup id="cargar">
                    <ui:repeat value="#{opcionesBean.lista}" var="item">


                        <img class="imagenesbarra #{item.idtipo.nombre}" id="#{item.idimagen}" src="#{item.direccion}" alt="#{item.descripcion}"/>


                    </ui:repeat>
                    <h:form id="cargarNuevaImagen" enctype="multipart/form-data" rendered="#{opcionesBean.opcionSeleccionada eq 'Fondo' || opcionesBean.opcionSeleccionada eq 'Objeto'}">               
                        <p:fileUpload value="#{opcionesBean.imagenACargar}"  mode="simple"/>
                        <h:commandButton value="Cargar" action="#{opcionesBean.guardarImagen()}"/>
                    </h:form>
                </h:panelGroup>

            </div>




            <!-- End Side Full -->
            <!-- Footer -->
            <ui:include src="HeaderFooter/footer.xhtml" />
            <!-- End Footer -->
        </div>
        <!-- End Shell -->
        <div></div>
        <script>
           
                actualizarScript();
         
        </script>
    </h:body>
 


</html>