<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Creaci&oacute;n de Juegos</title>
        <h:outputStylesheet library="css" name="style.css"  />
        <meta name="viewport" content="width=device-width"/>
        

      
    </h:head>
    <h:body>
        
        <!-- Shell -->
        <div class="shell">
          <!-- Header -->
          <ui:include src="HeaderFooter/header.xhtml" />
    
          <!-- End Header -->
          <!-- Main -->
          
            <!-- Content -->
            
              <!-- Products -->
          
                  <div class="login">
                      
                      <h:form>
                          
                      <h:outputLabel>Usuario: * </h:outputLabel>
                      <h:inputText  value="#{loginBean.usuario}" required="true"> 
                          
                      </h:inputText>
                      <h:outputLabel>Contraseña: *</h:outputLabel>
                      <h:inputSecret  value="#{loginBean.pwd}" required="true"> 
                         
                      </h:inputSecret>
                      <h:commandButton  style="margin-left: 232px;margin-top: 20px;" value="Entrar"  
                                        action="#{loginBean.comprobar()}"/>
                     
                     
                      </h:form>
                  
              </div>
              <!-- End Products -->
          
            <!-- End Content -->
            <!-- Sidebar -->
           
              <!-- End Categories -->
           
            <!-- End Sidebar -->
            <div class="cl">&nbsp;</div>
            <ui:include src="HeaderFooter/footer.xhtml" />
        </div>
        <!-- End Shell -->
        <div></div>
    </h:body>
</html>

