<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Creaci&oacute;n de Juegos</title>
        <h:outputStylesheet library="css" name="style.css"  />
        <meta name="viewport" content="width=device-width"/>
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    </h:head>
    <h:body>             
          

        <!-- Shell -->
        <div class="shell">
          <!-- Header -->
          <ui:include src="HeaderFooter/header.xhtml" />
          <!-- End Header -->
          <!-- Main -->
          <div id="main">
          
          </div>
          <!-- End Main -->
          <!-- Side Full -->
      
              <h:form>  
   
    <p:growl id="msgs" />  
  
    <p:panel header="Perfil">  
        
        <div style="padding: 9% ">
           
            <h:panelGrid columns="2" columnClasses="column" cellpadding="5" style="padding-left:2px ">  
            <h:outputText value="Apellidos :" style=" font-size: 17px" />  
            <p:inplace id="basic" editor="true"  style=" font-size: 17px" >  
                <p:inputText value="#{loginBean.apellidos}" required="true" label="text"/>  
            </p:inplace>  
            <h:outputText value="Nombre :" style=" font-size: 17px"/>  
            <p:inplace id="ajaxInplace" editor="true"  style=" font-size: 17px">  
                <p:inputText value="#{loginBean.nombre}"  required="true" label="text" />  
            </p:inplace>  
            <h:outputText value="Usuario :" style=" font-size: 17px"/>  
               <p:inplace  editor="true"  style=" font-size: 17px">  
                   <p:inputText value="#{loginBean.usuario}" required="true" label="text"  />     
            </p:inplace> 
            <h:outputText value="Contraseña :" style=" font-size: 17px"/>  
               <p:inplace  editor="true"  style=" font-size: 17px">  
                   <p:inputText   value="#{loginBean.pwd}"  required="true" label="text"  />   
            </p:inplace>
             <h:outputText value="Email :" style=" font-size: 17px"/>  
               <p:inplace  editor="true"  style=" font-size: 17px">  
                   <p:inputText   value="#{loginBean.email}"  required="true" label="text" validatorMessage="Formato de email no valido" >   
                    <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" /><h:message for="email"/>
                   </p:inputText>
               </p:inplace>
            
            <p:commandButton value="Guardar" action="#{loginBean.editar()}"  style="margin-left: 86px;margin-top: 46px;"/>

        </h:panelGrid>  
             
        </div>
    </p:panel>  
  
</h:form>  
              
       
         
            <!-- More Products -->
         
            <!-- End More Products -->
            <!-- Text Cols -->
            <!-- End Text Cols -->
    
          <!-- End Side Full -->
          <!-- Footer -->
        <ui:include src="HeaderFooter/footer.xhtml" />
          <!-- End Footer -->
        </div>
        <!-- End Shell -->
        <div></div>                     
        
    </h:body>
</html>
