<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Creaci&oacute;n de Juegos</title>
        <h:outputStylesheet library="css" name="style.css"  />
        <meta name="viewport" content="width=device-width"/>

    </h:head>
    <h:body>             


        <!-- Shell -->
        <div class="shell">
            <!-- Header -->
            <ui:include src="HeaderFooter/header.xhtml" />
            <!-- End Header -->
            <!-- Main -->


            <!-- Content -->

            <!-- Products -->


            <div class="login">

                <h:form>
                    <h:outputLabel for="usuario"> Usuario: *</h:outputLabel>
                    <h:inputText  value="#{loginBean.usuario}" id="usuario" rendered="#{loginBean.logeado==false}" validatorMessage="Usuario: el tamaño tiene que estar entre 1 y 10"/> 
                    <br></br>
                    <h:outputLabel for="PWD"> Contraseña: *</h:outputLabel>
                    <h:inputSecret  id="PWD" value="#{loginBean.pwd}" rendered="#{loginBean.logeado==false}" validatorMessage="Contraseña: El tamaño tiene que estar entre 4 y 30"/> 
                    <br></br>
                    <h:outputLabel for="CTN">Confirmar Contraseña: *</h:outputLabel>
                    <h:inputSecret  id="CTN" value="#{loginBean.confirmarPwr}" rendered="#{loginBean.logeado==false}" validatorMessage="Confirmar contraseña: El tamaño tiene que estar entre 4 y 20"/> 
                    <br></br>
                    <h:outputLabel for="email"> Email: *</h:outputLabel>
                    <h:inputText  id="email" value="#{loginBean.email}" rendered="#{loginBean.logeado==false}" validatorMessage="Email: Formato de email no valido">
                        <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" /><h:message for="email"/></h:inputText>
                    <br></br>
                    <h:outputLabel for="nombre"> Nombre: *</h:outputLabel>
                    <h:inputText  id="nombre" value="#{loginBean.nombre}" rendered="#{loginBean.logeado==false}" validatorMessage="Nombre: el tamaño tiene que estar entre 1 y 20"/> 
                    <br></br>
                    <h:outputLabel for="apellidos"> Apellidos: *</h:outputLabel>
                    <h:inputText  id="apellidos"  class="element text" maxlength="255" size="14" value="#{loginBean.apellidos}"  rendered="#{loginBean.logeado==false}" validatorMessage="Apellidos: el tamaño tiene que estar entre 1 y 20"/>
                    <br></br>
                    <h:commandButton  style="margin-left: 232px;margin-top: 20px;" value="Entrar"  
                                      action="#{loginBean.registrar()}" rendered="#{loginBean.logeado==false}" /><br/>
                </h:form>
            </div>
            <!-- End Products -->

            <!-- End Content -->
            <!-- Sidebar -->

            <!-- Categories -->


            <!-- End Sidebar -->
            <div class="cl">&nbsp;</div>

            <!-- End Main -->
            <!-- Side Full -->

            <!-- End Side Full -->
            <!-- Footer -->
            <ui:include src="HeaderFooter/footer.xhtml" />
            <!-- End Footer -->
        </div>
        <!-- End Shell -->
        <div></div>                     

    </h:body>
</html>
